body{
    background-color: hsl(0, 0%, 94%);
    display: grid;
    place-items: center;
    font-family: "urbanist", sans-serif;
}
.hero-section{
    width:50%;
}

h1{
    font-size: 54px;
    font-weight: 900;
    text-align: center;
    text-decoration: underline ;
    text-decoration-color: brown;
    text-decoration-thickness:10px ;
    text-decoration-style: dotted ;
    /* underline,dashed,overline,solid,line-through,wavy */
    text-transform: capitalize;
    /* uppercase, lowercase */

}
p,a{
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    /* 5px Adipisci eaque cupiditate */
    word-spacing: 1px;
    line-height: 1.56;
    /* white-space: nowrap; */
    /* all sentence in all line */

}
a{
text-decoration: none;
color: rgb(255, 0, 0);
}