
body{
background-color: hsl(0, 0%, 94%);
display: grid;
place-items: center;
font-family: "urbanist", sans-serif;
}
.hero-section{
width:50%;
}
h1{
font-size: 59px;
}
p{
font-size: 32px;
}

.section-border{
width: 1000px;
color: rgb(4, 121, 31);
background-color: bisque;

/* they is 3-4way to define this given below */
/* border: 15px solid black; */

/* border-width: 15px;
border-style: solid;
border-color: black ; */

border-top: 35px solid black;
border-right: 15px dotted black;
border-bottom: 15px ridge black;
border-left: 15px double black;
}
div{
width: 500px;
height: 500px;
background-color: blue;
/* border-radius: 150px; */

/* if we want circle the width and height size equal */
/* border-radius: 50%; */
/* https://9elements.github.io/fancy-border-radius/ */
border-radius: 100px 10px 350px 0;

/* this website help https://uigradients.com/#PiggyPink ,
https://mycolor.space/ */
background-image: linear-gradient(
to right top,
#051937,
#004d7a,
#008793,
#00bf72,
#a8eb12,
#060606
);
}
