       /* 255,0,0 ==> RED
        0,255,0  ==>   GREEN
        0,0,255   ==>  BLUE */
        body{
            /* background-color: rgb(255, 0, 255); */
            background-color: hsl(0,0%,94%);
        }
        h1{
            color: green;
        }
        #btn{
            color: rgb(29, 27, 27);
            /* 1: This is the alpha channel or opacity value specified in RGBA format. It ranges from 0 to 1, where 0 is fully transparent and 1 is fully opaque. Here, it's set to 1, indicating full opacity. */
            background-color: rgb(255, 255, 255, 1);      
        }
        p{
            color: currentColor;
        }
        #btn:hover{
            color:rgb(255, 255, 255);
            color: transparent;
            background-color: black;
        }
        p::first-line {
        color: orange;
        }