body{
    background-color: pink;
}
h1{
    color: green;
}
#btn{
    color: rgb(29, 27, 27);
    background-color: rgb(255, 255, 255);
}
#btn:hover{
    color:rgb(255, 255, 255);
    background-color: black;
}
p::first-line {
color: orange;
}