body{
    background-image: url('https://wowslider.com/sliders/demo-47/data1/images/nightsky523892.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 100% 100%;
    background-position: left bottom;
}